html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #404040;
  font-family: sans-serif;
}


#backgroundPlay {
  margin: auto;
  margin-top: 35px;
  width: 350px;
  height: 400px;
  position: relative;
  z-index: 10;
}

#buttonPlayContainer {
  margin: auto;
  width: 135px;
  height: 50px;
  position: relative;
  text-align: center;
  z-index: 10;
}

#txtFront {
  top: 165px;
  left: 30px;
  width: 300px;
  height: 50px;
  position: absolute;
  z-index: 10;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
}

#txtBack {
  top: 235px;
  left: 20px;
  width: 300px;
  height: 50px;
  position: absolute;
  z-index: 10;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
}

#hiddenNumber {
  width: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
  display: none;
}


label {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  z-index: 10;
}

.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: lightblue;
  backface-visibility: hidden;
  z-index: 10;
}

.flip-card .back {
  transform: rotateY(180deg);
  background: white;
}

input {
  display: none;
}

:checked+.flip-card {
  transform: rotateY(180deg);
}



.buttonPlay {
  background-color: yellow;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: bold;
}

.buttonPlay:hover {
  background-color: green;
  color: white;
}

@media (max-width:576px) {
  #backgroundPlay {
    margin-top: 20px;
  }
}